.navbar {
    border:0px;
    border-radius: 0px;
    background-color: white;
    color: white;
}


.jumbotron {
    color:black;
    background-color:white;
    font-family: 'Bubbler One', sans-serif;
    text-align: center;
    padding: 10px;
}

.bee {
    width: 100px;
}

dsgsdg
